<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>DashBoard</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>

</head>
<body>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
<div class="container">
    <h2 th:inline="text">Welcome <span th:utext="${userName}"></span></h2>
    <table class="table table-striped">
        <tr>
            <th>Room Name</th>
            <th>Size</th>
            <th> Action </th>
        </tr>
        <tr th:each="room : ${rooms}">
            <td><a th:href="@{/room/show/{id}(id=${room.id})}"> <span th:text="${room.name}"></span></a></td>
            <td><span th:text="${#sets.size(room.users)}"></span>/2</td>
            <td><a th:href="@{/room/join/{id}(id=${room.id})}">join room</a></td>
        </tr>
    </table>

    <a th:href="@{/room/create}" class="btn btn-info" role="button">Create Room</a>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>