<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Room</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <h2 th:text="${room.name}"></h2>
    <p>List of users in the room</p>
    <a th:href="@{/room/leave}" class="btn btn-danger" role="button">Leave Room</a>
    <table class="table table-striped">
        <tr>
            <th>Name</th>
            <th>Username</th>
        </tr>
        <tr th:each="user : ${room.users}">
            <td th:text="${user.name}"></td>
            <td th:text="${user.username}">Size</td>
        </tr>
    </table>
</div>
</body>
</html>